blinker==1.9.0
book-manage @ file:///Users/apple/book-manage/dist/book_manage-1.0.0-py3-none-any.whl#sha256=2afc40f767151750d31547b4268f4f3b1b146f952c9628db8e3e9b92d1cbf271
build==1.3.0
certifi==2025.1.31
click==8.3.0
contourpy==1.3.3
cycler==0.12.1
Flask==3.1.2
fonttools==4.60.1
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
Werkzeug==3.1.3
wheel==0.45.1
