<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Edit Book #{{ book[0] }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-4">
  <h1 class="mb-4">✏️ Edit Book #{{ book[0] }}</h1>

  <div class="card">
    <div class="card-body">
      <form action="/update/{{ book[0] }}" method="post" class="row g-3">
        <div class="col-12">
          <label>Title</label>
          <input class="form-control" name="title" value="{{ book[1] }}" required>
        </div>
        <div class="col-md-4">
          <label>Author</label>
          <input class="form-control" name="author" value="{{ book[2] }}" required>
        </div>
        <div class="col-md-4">
          <label>Publish Date</label>
          <input class="form-control" name="publish_date" value="{{ book[3] }}" required>
        </div>
        <div class="col-md-4">
          <label>ISBN</label>
          <input class="form-control" name="isbn" value="{{ book[4] }}" required>
        </div>
        <div class="col-12">
          <button class="btn btn-success">💾 Save Changes</button>
          <a class="btn btn-outline-secondary" href="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>